/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;

  &.header-scrolled, &.header-inner-pages {
    background: rgba($secondary, .85);
    padding: 10px 0;
  }

  .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;

    a {
      color: #fff;
    }

    img {
      max-height: 40px;
    }
  }
}
